<a href="https://colab.research.google.com/github/Siva714111/Python-Machine-Leaning/blob/main/240901072_panda_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import pandas as pd
#empty Dataframe
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [40]:
#dataframe with values
emp=pd.Series(['Parker','John','smith','william'])
id=pd.Series([102,107,109,114])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to Data frame\n")
print(result)

Series to Data frame

       Emp   ID
0   Parker  102
1     John  107
2    smith  109
3  william  114

In [41]:
#extracting column from Data Frame
print("\nExtracting one column:\n")
print(result['Emp'])

Extracting one column:

0     Parker
1       John
2      smith
3    william
Name: Emp, dtype: object

In [42]:
#adding a column
print("\nAdding new column\n")
result['Age']=pd.Series([35,24,40,38])
print (result)

Adding new column

       Emp   ID  Age
0   Parker  102   35
1     John  107   24
2    smith  109   40
3  william  114   38

In [43]:
print("\nDeleting one column\n")
del result['Age']
print(result)

Deleting one column

       Emp   ID
0   Parker  102
1     John  107
2    smith  109
3  william  114

In [44]:
#extracting row feom DataFrame
print("\nExtracting third row:\n")
print(result.loc[2])

Extracting third row:

Emp    smith
ID       109
Name: 2, dtype: object

In [45]:
#slicing
print(result[1:3])

     Emp   ID
1   John  107
2  smith  109

In [46]:
d2=pd.DataFrame([['Dale',123],['Mark',143,]],columns=['Emp','ID'])
result=pd.concat([result,d2],ignore_index=True)
print(result)

       Emp   ID
0   Parker  102
1     John  107
2    smith  109
3  william  114
4     Dale  123
5     Mark  143